<% @cfb_teams = [] %>

<% @rush_yards_per_game = [] %>
<% @rush_yards_ag_per_game = [] %>
<% @pass_yards_ag_per_game = [] %>
<% @pass_yards_per_game = [] %>
<% @plays_per_game = [] %>
<% @plays_ag_per_game = [] %>
<% @plus_minus = [] %>
<% @sacks_per_game = [] %>
<% @sacks_ag_per_game = [] %>
<% @scoring_plays_per_game = [] %>
<% @scoring_plays_ag_per_game = [] %>
<% @scoring_diff = [] %>
<% @wins = [] %>

<% @rush_for = [] %>
<% @rush_ag = [] %>
<% @pass_ag = [] %>
<% @pass_for = [] %>
<% @plays_for = [] %>
<% @plays_ag = [] %>
<% @pl_min = [] %>
<% @sacks_for = [] %>
<% @sacks_ag = [] %>
<% @sc_pl_for = [] %>
<% @sc_pl_ag = [] %>
<% @score_diff = [] %>
<% @record = [] %>


<% self.make_team_objects %>

<% self.calc_stats %>

<% @cfb_teams.each do |cfb| %>

	<div>

		<%= cfb[:rush_yards_for] %>
		<%= cfb[:rush_yards_ag] %>


	</div>


<% end %>

<div id = "main_cont">
	






</div>

