

<div id="main_about">

	<div id= "main_heading" class="main_format">
		
		<div id= "main_about_me"><div style="text-align: center; font-size: 25px;">ABOUT ME</div>

			<p>Hi, my name is Mike. I've been gambling my whole life. In my 20s and 30s I was a professional poker player. My home base was Atlantic City, NJ but I also traveled to Las Vegas, Connecticut, and LA all the time to play in tournaments and cash games. If you played poker at the Trump Taj in the 90s and the Borgata in the 2000s then you may of heard my nickname screamed in the poker room from time to time, Mike From Philly. That's how people knew me n AC. In the Philly house games they used to call me Mikey C-Note because I always came with a stack of hundreds in a rubberband needing change to play.<p>

			<p>Remember the football pools that used to get passed around by your local book? I religiously played those from when I was eight years old. I was betting with a bookie by eigth grade.  The first time I got in way over my head and got in trouble with owing money I was fifteen. I can't tell you how many poker bankrolls I blew betting on sports. </p>

			<p>I've been gambling my entire life and one thing I can say about it is that it is streaky. Very streaky. There's times you can't do anything but win, and there's times that no matter what you do, you lose. The graph of someone's betting history would look like a radio wave moving across a monitor. Up and down, up and down.</p>

			<p>I've tracked team stats and team trends looking for things to exploit. I've come to the conclusion that you are drawing dead with any stats/trends you readily find online. Which actually makes sense cause how could there be a sports betting industry if the average bettor could go to any matchup page online and pick a winner? The books would be broke and we all know they are not. And have you ever thought about what kind of advertisements you see on these sites that offer matchup pages? YOU SEE ADS FOR SPORTS BOOKS WANTING YOUR ACTION!!!! Hello. That means all that info you're looking at is already in the line and the books don't care if you use it or not.</p>

			<p> The goal of this site is to identify when bettors are on a hot or cold streak. Then offer you a consensus that can be filtered to show the hot and cold bettors on each side of a game or total. This will take the fade/follow strategy to the next level. You'll be able to look for games where hot and cold bettors are on the opposite side of a game. That will out value any stats from a matchup page.</p> 


		</div>



	</div>

	<div id="about_inst" class="main_format">

		<div style="text-align: center; font-size: 25px;">WHAT YOU'LL DO</div>

		<div id="inst_you">
			
			<ul class="you_list" style="list-style-type: circle;"><li>ENTER SELECTIONS</li></ul>

			<div id="you_text">
				
				<p>If you have an educated opinion on a side or total in the NBA, NFL, or MLB come and enter it in here. The process is one click to make a pick. Takes no time at all. All you have to do is register an account. And all I ask for is an email to contact you.  You don't have to put your name or your address.  I don't want any personal information of yours, just your opinion in sports.</p>


			</div>


		</div>

		<div id="inst_site">

			<div style="text-align: center; font-size: 25px;">WHAT THE SITE DOES</div>
			
			<ul class="you_list" style="list-style-type: circle;">
				
				<li>CONSTRUCT A GENERAL CONSENES FOR SIDES AND TOTALS</li>

				<br>
				
				<li>GRADE BETTOR PERFORMANCE OVER THEIR LAST 5, 10, AND 20 SELECTIONS IN THREE DIFFERENT CATEGORIES FOR EACH SPORT</li>

				<br>
				
				<li>PROVIDE ADVANCED METRICS THAT ALLOWS THE USER TO SEE THE NUMBER OF HOT AND COLD BETTORS ON EACH SIDE OF THE GAME AND TOTAL</li>


			</ul>



		</div>


	</div>





</div>