<% @my_date %>
<% @matchup_date %>
<% self.get_time %>
<% self.convert_my_date %>


<div id="index_matchup_banner">CLICK ON A MATCHUP BELOW</div>

<% @matchups.all.each do |m| %>

	<% self.convert_date(m.date) %>

	<% if @my_date <= @matchup_date %>

		<% if m.sport == "MLB" || m.sport == "NHL"  %>

			<% @link_tab = m.fav + " " + m.fav_ml + " " + m.dog %>

		<% else %>

			<% @link_tab = m.fav + " " + m.spread.to_s + " " + m.dog %>

		<% end %>

		<div style="margin-bottom: 3%;"><%= link_to @link_tab, edit_matchup_path(m.id) %> </div>
	<% end %>

<% end %>