/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.team_link{

	margin-top: 4%;
}
.teams_main{

	height: 100%;
	width: 100%;
}

.teams_display{

	display: inline-block;
	vertical-align: top;
	font-size: 20px;
	margin-right: 5%;
	margin-top: 5%;

}

.edit_div{

	margin-bottom: 5%;


}

.team_stats{

	height: 100%;
	width: 47%;
	display: inline-block;
	vertical-align: top;
	margin-top: 10%;
}

#right_border{

	border-right: 5px solid red;
	
}

#left_border{

	border-left: 5px solid blue;
	
}

.stat_banner{

	text-align: center;
	font-size: 35px;
	margin-bottom: 10%;
}

.stat_header{

	
	width: 75%;
	text-align: right;
	font-size: 18px;
	margin-bottom: 2%;
}

 .main_cont{

 	height: 100%;
 	width: 100%;
 }

.fb_banner{

	height: 40%;
	width: 100%;
	background: black;
	color: white;
	text-align: center;
	margin-top: 20px;
	font-size: 40px;
}

.hide{

	display: none;
}

.cfb_stat_cont{

	height: 100%;
	width: 100%;
}

.stat_display{

	display: inline-block;
	margin-right: 5%;
	height: 100%;
	border: 1px solid black;
	text-align: top;
	vertical-align: top;

	margin-top: 5%;
}

.stat_cont{

	display: inline-block;
	vertical-align: top;
	margin-left: 5%;
	margin-top: 5%;
	font-size: 17px;
}

.stat_label{

	font-size: 20px;
	margin-bottom: 5%;
}

.stat_data{

	margin-top: 2%;
	margin-bottom: 2%;
}

#index_matchup_banner{

	height: 100%;
	width: 100%;
	font-size: 25px;
	text-align: center;
	margin-top: 5%;
	margin-bottom: 5%;

}

.nav_links{

	margin-right: 3%;
	margin-top: 2%;
	display: inline-block;

}

#admin_panel{

	height: 100%;
	width: 100%;

	text-align: center;
	margin-top: 3%;
}

#link_cont{

	margin: auto;
	
	text-align: center;
}

.total_heading{

	font-size: 20px;
	margin-top: 1%;
	margin-bottom: 1%;
}

.total_stats{

	font-size: 17px;
	margin-left: 2%;
	margin-top: 1%;
	margin-bottom: 1%;
}

.division_cont{

	display: inline-block;
	vertical-align: top;
	margin-right: 5%;
	margin-left: 5%;
	margin-top: 5%;
	height: 100%;
	width: 23%;
	font-size: 25px;
	border: 1px solid black;

}

#main_c{

	height: 100%;
	width: 100%;

	margin-left: 10%;
}

.team_n{

	margin-top: 5%;
	margin-bottom: 5%;
	font-size: 20px;
	margin-right: 1%;
	margin-left: 1%;
	color: black;
}

.pitcher_name{

	font-size: 15px;
	color: red;
	margin-top: 2%;
	margin-bottom: 2%;
}

.numbers{

	font-size: 16px;
	color: blue;
	margin-top: 2%;
	margin-bottom: 2%;
	border: 1px solid gray;

}