/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.hide{

	display: none;
}

.stat_display{

	display: inline-block;
	margin-right: 5%;
	height: 100%;
	border: 1px solid black;
	text-align: top;

	margin-top: 5%;
}

.stat_cont{

	display: inline-block;
	vertical-align: top;
	margin-left: 8%;
	margin-top: 5%;
	font-size: 20px;
}

.stat_label{

	font-size: 20px;
	margin-bottom: 5%;
}

.stat_data{

	margin-top: 2%;
	margin-bottom: 2%;
}

#index_matchup_banner{

	height: 100%;
	width: 100%;
	font-size: 25px;
	text-align: center;
	margin-top: 5%;
	margin-bottom: 5%;

}