// Place all the styles related to the matchups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#mlb_games{

	height: 100%;
	width: 100%;
	
}

.favChoice{

	height: 48%;
	width: 49%;
	border: 1px solid black;
	text-align: center;
	text-decoration: underline;
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
	padding-top: 4%;

}
.dogChoice{

	height: 48%;
	width: 49%;
	border: 1px solid black;
	text-align: center;
	text-decoration: underline;
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
	padding-top: 4%;

}
.overChoice{

	height: 48%;
	width: 49%;
	border: 1px solid black;
	text-align: center;
	text-decoration: underline;
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
	padding-top: 4%;


}
.underChoice{

	height: 48%;
	width: 49%;
	border: 1px solid black;
	text-align: center;
	text-decoration: underline;
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
	padding-top: 4%;

}

.data{

	margin-top: 2%;
}

#pick_form{

	display: none;
	height: 100%;
	width: 100%;
	
}

.all_filters{

	display: inline-block;
	font-size: 20px;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 5%;
	margin-bottom: 5%;
	text-decoration: underline;
	cursor: pointer;
}

#sport_filters{

	text-align: center;
	color: blue;
}

#con_cont{

	height: 100%;
	width: 100%;
	margin-top: 5%
}

.matchup_label{


	height: 10%;
	width: 100%;
	text-align: center;
	margin-top: 2%;
	font-size: 30px;
	border: 1px solid black;

}

.matchup_boxes{

	display: inline-block;
	vertical-align: top;
	height: 100%;
	width: 6%;

	
}

#match_total{

	width: 11%;
	margin-left: 1%;
}

#team_labels{

	height: 10%;
	width: 100%;
	border: 1px solid black;
	text-align: center;
	margin-top: 2%;
}

.con_boxes{

	display: inline-block;
	vertical-align: top;
	text-align: center;
	height: 100%;
	width: 10%;
	border: 1px solid red;
	font-size: 27px;
	margin-top: 2%;
	margin-left: 15%;
	margin-right: 15%;
}

#dog_label{

	width: 18%;
	margin-left: 5%;
	

}

#fav_label{

	width: 18%;
	

}

#ovr_label{

	width: 18%;
	

}

#und_label{

	width: 18%;
	margin-left: 5%;
	

}

.info_label{

	height: 10%;
	width: 100%;
	font-size: 30px;
	text-align: center;
	margin-top: 2%;
	border: 1px solid black;

}

#match_sides{

	width: 20%;
}

#match_total{

	width: 20%;
}

#fav_b{

	

}

#dog_box{

	

}

#ovr_box{

	

}

#und_box{

	

}

